{% extends 'blog/base.html' %}
{% load static %}


{% block additional_styles %}

<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('/static/blog/img/cal-back.jpg')">

        </div>


    </div>
</div>

{% endblock %}


{% block base_content %}



<div class="clearfix">
    <span class="left m-2" style="font-size: 20px;">Welcome, {{ request.user }}</span>
	<a class="btn btn-info right mr-2" href="{% url 'blog:calendar' %}?{{ next_month }} "> Next Month >> </a>
    <a class="btn btn-info right mr-2" href="{% url 'blog:calendar' %}?{{ prev_month }}"> << Previous Month </a>
    <a class="btn btn-info right mr-2" href="{% url 'blog:event_new' %}"> + New Event </a>
</div>




{{ calendar }}



{% endblock %}

{% block end_file %}
{% endblock %}
