{% extends "tool/base_tool.html" %}
{% load static %}

{% block head_title%} HTML common character query table, html special character comparison table {% endblock%}
{% block metas%}
    <meta name = "description" content = "HTML common character query table, html special character comparison table, html character escape character, decimal code, special symbol query">
    <meta name = "keywords" content = "HTML special characters, html common characters, HTML character comparison table, online tools">
{% endblock %}

{% block tool_name%} HTML special character comparison table {% endblock%}
{% block left_content %}
<div class="card-body p-0" id="html-cha">
    <h3 class = "card-title pl-2 title-info my-3"> HTML common symbol comparison table: </ h3>
    <table class="table bg-white table-bordered text-center table-sm">
        <thead>
        <tr bgcolor="#20c997">
            <th> <strong> Display results </ strong> </ th>
            <th><strong>Description</strong></th>
            <th> <strong> Entity name </ strong> </ th>
            <th> <strong> Entity number </ strong> </ th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>￠</td>
            <td>minutes</td>
            <td>&amp;cent;</td>
            <td>&amp;#162;</td>
        </tr>
        <tr>
            <td>&pound;</td>
            <td>Pound </td>
            <td>&amp;pound;</td>
            <td>&amp;#163;</td>
        </tr>
        <tr>
            <td>&yen;</td>
            <td>yuan</td>
            <td>&amp;yen;</td>
            <td>&amp;#165;</td>
        </tr>
        <tr>
            <td>§</td>
            <td>Section</td>
            <td>&amp;sect;</td>
            <td>&amp;#167;</td>
        </tr>
        <tr>
            <td>&copy;</td>
            <td> Copyright </ td>
            <td>&amp;copy;</td>
            <td>&amp;#169;</td>
        </tr>
        <tr>
            <td>&#174;</td>
            <td> registered trademark </ td>
            <td>&amp;reg;</td>
            <td>&amp;#174;</td>
        </tr>
        <tr>
            <td>×</td>
            <td>Multiplication sign</td>
            <td>&amp;times;</td>
            <td>&amp;#215;</td>
        </tr>
        <tr>
            <td>÷</td>
            <td>Division sign</td>
            <td>&amp;divide;</td>
            <td>&amp;#247;</td>
        </tr>
        <tr>
            <td>&lt;</td>
            <td> Less than sign </ td>
            <td>&amp;lt;</td>
            <td>&amp;#60;</td>
        </tr>
        <tr>
            <td>&gt;</td>
            <td> Greater than sign </ td>
            <td>&amp;gt;</td>
            <td>&amp;#62;</td>
        </tr>
        <tr>
            <td>&amp;</td>
            <td> and sign </ td>
            <td>&amp;amp;</td>
            <td>&amp;#38;</td>
        </tr>
        <tr>
            <td>&quot;</td>
            <td> quotation marks </ td>
            <td>&amp;quot;</td>
            <td>&amp;#34;</td>
        </tr>
        <tr>
            <td>'</td>
            <td>Apostrophe&nbsp;</td>
            <td>&amp;apos; (IE does not support)</td>
            <td>&amp;#39;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td> Space </ td>
            <td>&amp;nbsp;</td>
            <td>&amp;#160;</td>
        </tr>
        <tr>
            <td>&ensp;</td>
            <td> Half-width space </ td>
            <td>&amp;ensp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&emsp;</td>
            <td> Full-width space </ td>
            <td>&amp;emsp;</td>
            <td>&nbsp;</td>
        </tr>
        </tbody>
    </table>
    <h3 class = "card-title pl-2 title-info my-3"> HTML special symbol comparison table: </ h3>
    <table class="table bg-white table-bordered text-center table-sm">
        <thead>
        <tr bgcolor="#20c997">
            <th> <strong> special symbols </ strong> </ th>
            <th> <strong> named entity </ strong> </ th>
            <th> <strong> Decimal encoding </ strong> </ th>
            <th> <strong> special symbols </ strong> </ th>
            <th> <strong> named entity </ strong> </ th>
            <th> <strong> Decimal encoding </ strong> </ th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>&Alpha;</td>
            <td>&amp;Alpha;</td>
            <td>&amp;#913;</td>
            <td>&Beta;</td>
            <td>&amp;Beta;</td>
            <td>&amp;#914;</td>
        </tr>
        <tr>
            <td>&Gamma;</td>
            <td>&amp;Gamma;</td>
            <td>&amp;#915;</td>
            <td>&Delta;</td>
            <td>&amp;Delta;</td>
            <td>&amp;#916;</td>
        </tr>
        <tr>
            <td>&Epsilon;</td>
            <td>&amp;Epsilon;</td>
            <td>&amp;#917;</td>
            <td>&Zeta;</td>
            <td>&amp;Zeta;</td>
            <td>&amp;#918;</td>
        </tr>
        <tr>
            <td>&Eta